<app-header [user]="user"></app-header>

<section class="main">

    <div class="container">
        {{hello + ' ' + user}} {{title}}
        <br> /* LA LINEA SIGUIENTE ES UN PIPE, ES UNA VARIABLE A LA QUE SE LE PROPORCIONA UN FORMATO DE PRESENTACION */
        <br> {{today | date: 'dd/mm/yyyy' }}

        <!-- EJEMPLO DE PROPERTY BINDING -->
        <input type="text" name="value" [(ngModel)]="value">
        <br>

        <!-- EJEMPLO DE EVENT BINDING (LAS 2 SIGUIENTES LINEAS) -->
        <button (click)="aumentar()">Aumentar</button>

        <button (click)="disminuir()">Disminuir</button>

        <label for=""> value:{{value}} </label>

    </div>

    <router-outlet></router-outlet>
</section>

<app-footer></app-footer>